<div class="settings-feature card-container">
    <mat-card>
        <mat-card-title>Existing clients groups</mat-card-title>
        <spotcafe-messages #loadClientsGroupsMessagesComponent></spotcafe-messages>
        <mat-form-field *ngIf="clientsGroups && clientsGroups.length">
            <mat-select [(ngModel)]="selectedClientGroup" placeholder="Select client group">
                <mat-option *ngFor="let clientGroupWithDevicesGroups of clientsGroups" [value]="clientGroupWithDevicesGroups">{{clientGroupWithDevicesGroups.clientGroup.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <div *ngIf="selectedClientGroup">
            <mat-form-field>
                <input matInput [(ngModel)]="selectedClientGroup.clientGroup.name" placeholder="Name" />
            </mat-form-field>
            <mat-form-field>
                <input matInput [(ngModel)]="selectedClientGroup.clientGroup.description" placeholder="Description" />
            </mat-form-field>
            <mat-form-field>
                <input matInput [(ngModel)]="selectedClientGroup.clientGroup.pricePerHour" placeholder="Price per hour" />
            </mat-form-field>
            <div>
                <div>Devices groups access</div>
                <mat-form-field *ngIf="devicesGroupsForExistingClientGroup">
                    <mat-select [(ngModel)]="selectedDeviceGroupForExistingClientGroup" placeholder="Select device group">
                        <mat-option *ngFor="let devicesGroup of devicesGroupsForExistingClientGroup" [value]="devicesGroup">{{devicesGroup.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <button [disabled]="!selectedDeviceGroupForExistingClientGroup" mat-raised-button color="primary" (click)="addDeviceGroupToSelectedExistingClientGroup(selectedDeviceGroupForExistingClientGroup)">Add</button>
                <mat-list>
                    <mat-list-item *ngFor="let deviceGroup of selectedClientGroup.devicesGroups">
                        <button mat-button color="warn" (click)="removeSelectedClientGroupDeviceGroup(deviceGroup)">Remove</button>{{deviceGroup.name}}
                    </mat-list-item>
                </mat-list>
            </div>
            <mat-card-actions>
                <spotcafe-messages #updateClientsGroupsMessagesComponent></spotcafe-messages>
                <button [disabled]="waiting.updatingGroup" mat-raised-button (click)="updateClientGroup(selectedClientGroup)" color="primary">Update group {{selectedClientGroup.clientGroup.name}}</button>
            </mat-card-actions>
        </div>
    </mat-card>
    <mat-card>
        <mat-card-title>New group</mat-card-title>
        <mat-form-field>
            <input matInput [(ngModel)]="newClientGroupWithDevicesGroups.clientGroup.name" placeholder="Name" />
        </mat-form-field>
        <mat-form-field>
            <input matInput [(ngModel)]="newClientGroupWithDevicesGroups.clientGroup.description" placeholder="Description" />
        </mat-form-field>
        <mat-form-field>
            <input matInput [(ngModel)]="newClientGroupWithDevicesGroups.clientGroup.pricePerHour" placeholder="Price per hour" />
        </mat-form-field>
        <div>
            <div>Devices groups access</div>
            <mat-form-field *ngIf="devicesGroupsForNewClientGroup">
                <mat-select [(ngModel)]="selectedDeviceGroupForNewClientGroup" placeholder="Select device group">
                    <mat-option *ngFor="let devicesGroup of devicesGroupsForNewClientGroup" [value]="devicesGroup">{{devicesGroup.name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <button [disabled]="!selectedDeviceGroupForNewClientGroup" mat-raised-button color="primary" (click)="addDeviceGroupToNewClientGroup(selectedDeviceGroupForNewClientGroup)">Add</button>
            <mat-list>
                <mat-list-item *ngFor="let deviceGroup of newClientGroupWithDevicesGroups.devicesGroups">
                    <button mat-button color="warn" (click)="removeDeviceGroupFromNewClientGroup(deviceGroup)">Remove</button>{{deviceGroup.name}}
                </mat-list-item>
            </mat-list>
        </div>
        <mat-card-actions>
            <spotcafe-messages #createClientsGroupsMessagesComponent></spotcafe-messages>
            <button [disabled]="waiting.creatingGroup" mat-raised-button (click)="createClientGroup(newClientGroupWithDevicesGroups)"
                color="primary">Create group {{newClientGroupWithDevicesGroups.clientGroup.name}}</button>
        </mat-card-actions>
    </mat-card>
</div>