<div class="settings-feature">
    <md-select class="employee-drop-down" [(ngModel)]="selectedEmployee" placeholder="Select employee">
        <md-option *ngFor="let employee of employees" [value]="employee">{{employee.username}} ({{employee.firstName}} {{employee.lastName}})</md-option>
    </md-select>
    <div *ngIf="selectedEmployee">
        <md-form-field>
            <input mdInput [(ngModel)]="selectedEmployee.firstName" placeholder="First name" />
        </md-form-field>
        <md-form-field>
            <input mdInput [(ngModel)]="selectedEmployee.lastName" placeholder="Last name" />
        </md-form-field>
        <md-form-field>
            <input mdInput [(ngModel)]="selectedEmployee.email" placeholder="Email" />
        </md-form-field>
        <md-checkbox [(ngModel)]="selectedEmployee.disabled">Disabled</md-checkbox>
    </div>
    <button md-button (click)="updateEmployee(selectedEmployee)">Save</button>
    <!-- <div *ngFor="let employee of employees">
        {{employee.firstName}} {{employee.lastName}} ({{employee.username}})
    </div> -->
</div>

<!-- <md-card *ngFor="let permission of permissions">
    <md-card-title>
        <md-checkbox>
            {{permission.name}}
        </md-checkbox>
    </md-card-title>
    <md-card-content>
        {{permission.description}}
    </md-card-content>
</md-card> -->
