<div>
    <span>Employee:</span>
    <div *ngFor="let employee of employees">
        {{employee.firstName}} {{employee.lastName}} ({{employee.username}})
    </div>
    <button md-button (click)="getAllEmployees()">Refresh</button>
</div>

<!-- <md-card *ngFor="let permission of permissions">
    <md-card-title>
        <md-checkbox>
            {{permission.name}}
        </md-checkbox>
    </md-card-title>
    <md-card-content>
        {{permission.description}}
    </md-card-content>
</md-card> -->

<button md-button>Save</button>