<nav md-tab-nav-bar class="settings-navigation">
    <a md-tab-link routerLink="employees" routerLinkActive="active-settings-nav-item">
        Employees
    </a>
    <a md-tab-link routerLink="roles" routerLinkActive="active-settings-nav-item">
        Roles
    </a>
    <a md-tab-link routerLink="clients" routerLinkActive="active-settings-nav-item">
        Clients
    </a>
    <a md-tab-link routerLink="client-devices" routerLinkActive="active-settings-nav-item">
        Client devices
    </a>
    <a md-tab-link routerLink="devices-groups" routerLinkActive="active-settings-nav-item">
        Devices groups
    </a>
    <a md-tab-link routerLink="clients-groups" routerLinkActive="active-settings-nav-item">
        Clients groups
    </a>
</nav>

<div class="settings-container">
    <router-outlet></router-outlet>
</div>