<nav mat-tab-nav-bar class="settings-navigation">
    <a mat-tab-link routerLink="employees" routerLinkActive="active-settings-nav-item">
        Employees
    </a>
    <a mat-tab-link routerLink="roles" routerLinkActive="active-settings-nav-item">
        Roles
    </a>
    <a mat-tab-link routerLink="clients" routerLinkActive="active-settings-nav-item">
        Clients
    </a>
    <a mat-tab-link routerLink="client-devices" routerLinkActive="active-settings-nav-item">
        Client devices
    </a>
    <a mat-tab-link routerLink="devices-groups" routerLinkActive="active-settings-nav-item">
        Devices groups
    </a>
    <a mat-tab-link routerLink="clients-groups" routerLinkActive="active-settings-nav-item">
        Clients groups
    </a>
    <a mat-tab-link routerLink="application-profiles" routerLinkActive="active-settings-nav-item">
        Application profiles
    </a>
    <a mat-tab-link routerLink="advanced-settings" routerLinkActive="active-settings-nav-item">
        Advanced
    </a>
</nav>

<div class="settings-container">
    <router-outlet></router-outlet>
</div>