<div class="card-container">
  <mat-card *ngFor="let device of clientDevicesStatus" class="device-status-card" [ngClass]="{'client-device-in-use': device.isStarted, 'client-device-free': !device.isStarted}">
    <mat-card-title>
      <div class="device-status-name">{{device.name}}</div>
      <div class="device-status-bill">{{device.billText}}</div>
      <div class="device-status-duration">{{device.duration | duration}}</div>
    </mat-card-title>
    <mat-card-content>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="startDevice(device.deviceId)" mat-button color="primary" class="device-status-start-button" [style.visibility]="device.isStarted ? 'hidden': ''">
        <mat-icon>play_arrow</mat-icon>Start</button>
      <button (click)="stopDevice(device.deviceId)" mat-raised-button color="accent" [style.visibility]="device.isStarted ? '' : 'hidden'">
        <mat-icon>stop</mat-icon>Stop</button>
    </mat-card-actions>
  </mat-card>
</div>