<div class="settings-feature card-container">
    <md-card>
        <md-card-title>Existing clients</md-card-title>
        <div *ngIf="clients">
            <md-select *ngIf="clients" [(ngModel)]="selectedClient">
                <md-option *ngFor="let client of clients" [value]="client">{{client.client.username}} ({{client.client.firstName}} {{client.client.lastName}})</md-option>
            </md-select>
        </div>
    </md-card>
    <md-card>
        <md-card-title>New client</md-card-title>
        <md-form-field>
            <input mdInput [(ngModel)]="newClient.client.username" placeholder="Username" />
        </md-form-field>
        <md-form-field>
            <input mdInput [(ngModel)]="newClient.client.email" placeholder="Email" />
        </md-form-field>
        <md-form-field>
            <input mdInput [(ngModel)]="newClient.client.firstName" placeholder="First name" />
        </md-form-field>
        <md-form-field>
            <input mdInput [(ngModel)]="newClient.client.lastName" placeholder="Last name" />
        </md-form-field>
        <md-form-field>
            <input mdInput [(ngModel)]="newClient.client.phone" placeholder="Phone" />
        </md-form-field>
        <md-form-field>
            <input type="password" mdInput [(ngModel)]="newClient.client.password" placeholder="Password" />
        </md-form-field>
        <md-form-field>
            <input type="password" mdInput [(ngModel)]="newClient.confirmPassword" placeholder="Confirm password" />
        </md-form-field>
        <md-select *ngIf="newClient.groups" [(ngModel)]="newClient.selectedGroup" placeholder="Client group">
            <md-option *ngFor="let group of newClient.groups" [value]="group">{{group.name}}</md-option>
        </md-select>
        <spotcafe-messages #newClientMessagesComponent></spotcafe-messages>
        <md-card-actions>
            <button md-raised-button (click)="createClient(newClient)" color="primary">Create client {{newClient.client.username}}</button>
        </md-card-actions>
    </md-card>
</div>