<mat-form-field *ngIf="!hideUsername">
    <input matInput [(ngModel)]="clientDisplay.client.username" placeholder="Username" />
</mat-form-field>
<mat-form-field *ngIf="!hidePasswords">
    <input type="password" matInput [(ngModel)]="clientDisplay.client.password" placeholder="Password" />
</mat-form-field>
<mat-form-field *ngIf="!hidePasswords">
    <input type="password" matInput [(ngModel)]="clientDisplay.confirmPassword" placeholder="Confirm password" />
</mat-form-field>
<mat-form-field>
    <input matInput [(ngModel)]="clientDisplay.client.email" placeholder="Email" />
</mat-form-field>
<mat-form-field>
    <input matInput [(ngModel)]="clientDisplay.client.firstName" placeholder="First name" />
</mat-form-field>
<mat-form-field>
    <input matInput [(ngModel)]="clientDisplay.client.lastName" placeholder="Last name" />
</mat-form-field>
<mat-form-field>
    <input matInput [(ngModel)]="clientDisplay.client.phone" placeholder="Phone" />
</mat-form-field>
<mat-form-field *ngIf="clientDisplay.groups">
    <mat-select [(ngModel)]="clientDisplay.selectedGroup" placeholder="Client group">
        <mat-option *ngFor="let group of clientDisplay.groups" [value]="group">{{group.clientGroup.name}}</mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field *ngIf="!hideCredit">
    <input matInput readonly [(ngModel)]="clientDisplay.client.credit" placeholder="Credit" />
</mat-form-field>