<div class="settings-feature card-container">
    <md-card>
        <md-card-title>Existing clients</md-card-title>
        <div *ngIf="clients">
            <md-select *ngIf="clients" [(ngModel)]="selectedClient">
                <md-option *ngFor="let client of clients" [value]="client">{{client.client.username}} ({{client.client.firstName}} {{client.client.lastName}})</md-option>
            </md-select>
        </div>
        <div *ngIf="selectedClient">
            <spotcafe-client [clientDisplay]="selectedClient" [hideUsername]="true" [hidePasswords]="true" [hideCredit]="false"></spotcafe-client>
            <spotcafe-messages #updateClientMessagesComponent></spotcafe-messages>
            <md-card-actions>
                <button [disabled]="waiting.updatingClient" md-raised-button (click)="updateClient(selectedClient)" color="primary">Update client {{selectedClient.client.username}}</button>
            </md-card-actions>
        </div>
    </md-card>
    <md-card>
        <md-card-title>New client</md-card-title>
        <spotcafe-client [clientDisplay]="newClient" [hideCredit]="true"></spotcafe-client>
        <spotcafe-messages #newClientMessagesComponent></spotcafe-messages>
        <md-card-actions>
            <button [disabled]="waiting.creatingClient" md-raised-button (click)="createClient(newClient)" color="primary">Create client {{newClient.client.username}}</button>
        </md-card-actions>
    </md-card>
</div>