<div>
    <mat-form-field class="full-width">
        <input matInput [(ngModel)]="applicationProfileFile.filePath" placeholder="Type the full path to the application file or select it from device"
        />
    </mat-form-field>
</div>
<mat-card-actions>
    <div>
        <img [src]="applicationProfileFile.image ? applicationProfileFile.image : 'data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACwAAAAAAQABAAACAkQBADs='"
        />
    </div>
    <input #imageFileControl (change)="imageFileChanged(imageFileControl.files[0], applicationProfileFile)" (click)="imageFileControl.click()"
        type="file" [hidden]="true" />
    <button mat-raised-button (click)="imageFileControl.click()" color="primary">Select image...</button>
    <mat-form-field>
        <input matInput [(ngModel)]="applicationProfileFile.description" placeholder="Description">
    </mat-form-field>
    <mat-form-field>
        <mat-select (change)="groupSelected.next($event.value)" placeholder="Application group">
            <mat-option *ngFor="let group of applicationGroups" [value]="group">{{group.name}}</mat-option>
        </mat-select>
    </mat-form-field>
</mat-card-actions>