<div class="settings-feature card-container">
    <mat-card>
        <mat-card-title>
            Existing application groups
        </mat-card-title>
        <div *ngIf="applicationGroups">
            <mat-form-field>
                <mat-select [(ngModel)]="selectedApplicationGroup" placeholder="Select application group">
                    <mat-option *ngFor="let group of applicationGroups" [value]="group">{{group.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <spotcafe-base-entity *ngIf="selectedApplicationGroup" [entity]="selectedApplicationGroup"></spotcafe-base-entity>
        <spotcafe-messages #updateApplicationGroupMessagesComponent></spotcafe-messages>
        <mat-card-actions *ngIf="selectedApplicationGroup">
            <button (click)="updateApplicationGroup(selectedApplicationGroup)" mat-raised-button color="primary">Update group {{selectedApplicationGroup.name}}</button>
        </mat-card-actions>
    </mat-card>
    <mat-card>
        <mat-card-title>
            New application group
        </mat-card-title>
        <spotcafe-base-entity [entity]="newApplicationGroup"></spotcafe-base-entity>
        <spotcafe-messages #newApplicationGroupMessagesComponent></spotcafe-messages>
        <mat-card-actions>
            <button (click)="createApplicationGroup(newApplicationGroup)" mat-raised-button color="primary">Create application group {{newApplicationGroup.name}}</button>
        </mat-card-actions>
    </mat-card>
    <mat-card>
        <mat-card-title>
            Existing application profiles
        </mat-card-title>
        <mat-card-title>
            New application profile
        </mat-card-title>
    </mat-card>
    <mat-card>
        <mat-card-title>Select application file from device</mat-card-title>
        <spotcafe-messages #loadInfoMessagesComponent></spotcafe-messages>
        <mat-form-field>
            <mat-select matInput [(ngModel)]="selectedDevice" placeholder="Select device" (change)="loadDrives(selectedDevice.id)">
                <mat-option *ngFor="let device of devices" [value]="device">{{device.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="selectedDevice">
            <mat-select matInput [(ngModel)]="selectedDrive" placeholder="Select drive" (change)="driveSelected(selectedDrive)">
                <mat-option *ngFor="let drive of drives" [value]="drive">{{drive}}</mat-option>
            </mat-select>
        </mat-form-field>
        <h2>Current folder:
            <button *ngFor="let segment of currentPathSegments; let i=index" (click)="segmentIndexSelected(i)" mat-raised-button>{{segment}}</button>
        </h2>
        <h3>Directories:</h3>
        <mat-list *ngIf="directories">
            <mat-list-item *ngFor="let dir of directories">
                <button (click)="subFolderSelected(dir)" mat-button class="folder-item-button">{{dir}}</button>
            </mat-list-item>
        </mat-list>
        <h3>Files:</h3>
        <mat-list *ngIf="files">
            <mat-list-item *ngFor="let file of files">
                <button (click)="fileSelected(file)" mat-button class="folder-item-button">{{file}}</button>
            </mat-list-item>
        </mat-list>
        <div>
            <mat-form-field class="full-width">
                <input matInput [(ngModel)]="selectedFile" placeholder="Selected file" />
            </mat-form-field>
        </div>
    </mat-card>
</div>