<div *ngIf="showImage" class="application-file-image-wrapper">
    <img [src]="applicationProfileFile.image ? applicationProfileFile.image : 'data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=='"
        [alt]="applicationProfileFile.imageFileName" />
    <label class="application-file-title">{{applicationProfileFile.title}}</label>
</div>
<div>
    <button (click)="removeSelected.next()" mat-button color="warn">Remove</button>
    <mat-form-field>
        <input matInput spotcafeNotChangeable [value]="applicationProfileFile.applicationGroupName"
            placeholder="Application group" />
    </mat-form-field>
    <mat-form-field>
        <input matInput spotcafeNotChangeable [value]="applicationProfileFile.title"
            placeholder="Title" />
    </mat-form-field>
    <mat-form-field>
        <input matInput spotcafeNotChangeable [value]="applicationProfileFile.description"
            placeholder="Description" />
    </mat-form-field>
    <mat-form-field>
        <input matInput spotcafeNotChangeable [value]="applicationProfileFile.filePath"
            placeholder="Full path" />
    </mat-form-field>
    <mat-form-field>
        <input matInput spotcafeNotChangeable [value]="applicationProfileFile.startupParameters"
            placeholder="Startup parameters" />
    </mat-form-field>
</div>