<div class="settings-feature card-container">
    <md-card>
        <md-card-title>
            Existing application groups
        </md-card-title>
        <div *ngIf="applicationGroups">
            <md-select [(ngModel)]="selectedApplicationGroup" placeholder="Select application group">
                <md-option *ngFor="let group of applicationGroups" [value]="group">{{group.name}}</md-option>
            </md-select>
        </div>
        <spotcafe-base-entity *ngIf="selectedApplicationGroup" [entity]="selectedApplicationGroup"></spotcafe-base-entity>
        <spotcafe-messages #updateApplicationGroupMessagesComponent></spotcafe-messages>
        <md-card-actions *ngIf="selectedApplicationGroup">
            <button (click)="updateApplicationGroup(selectedApplicationGroup)" md-raised-button color="primary">Update group {{selectedApplicationGroup.name}}</button>
        </md-card-actions>
    </md-card>
    <md-card>
        <md-card-title>
            New application group
        </md-card-title>
        <spotcafe-base-entity [entity]="newApplicationGroup"></spotcafe-base-entity>
        <spotcafe-messages #newApplicationGroupMessagesComponent></spotcafe-messages>
        <md-card-actions>
            <button (click)="createApplicationGroup(newApplicationGroup)" md-raised-button color="primary">Create application group {{newApplicationGroup.name}}</button>
        </md-card-actions>
    </md-card>
    <md-card>
        <md-card-title>
            Existing application profiles
        </md-card-title>
        <md-card-title>
            New application profile
        </md-card-title>
    </md-card>
    <md-card>
        <md-card-title>Select application file from device</md-card-title>
        <spotcafe-messages #loadInfoMessagesComponent></spotcafe-messages>
        <md-select mdInput [(ngModel)]="selectedDevice" placeholder="Device" (change)="loadDrives(selectedDevice.id)">
            <md-option *ngFor="let device of devices" [value]="device">{{device.name}}</md-option>
        </md-select>
        <md-select mdInput *ngIf="selectedDevice" [(ngModel)]="selectedDrive" placeholder="Drive" (change)="driveSelected(selectedDrive)">
            <md-option *ngFor="let drive of drives" [value]="drive">{{drive}}</md-option>
        </md-select>
        <h2>Current folder:
            <button *ngFor="let segment of currentPathSegments; let i=index" (click)="segmentIndexSelected(i)" md-raised-button>{{segment}}</button>
        </h2>
        <h3>Directories:</h3>
        <md-list *ngIf="directories">
            <md-list-item *ngFor="let dir of directories">
                <button (click)="subFolderSelected(dir)" md-button class="folder-item-button">{{dir}}</button>
            </md-list-item>
        </md-list>
        <h3>Files:</h3>
        <md-list *ngIf="files">
            <md-list-item *ngFor="let file of files">
                <button (click)="fileSelected(file)" md-button class="folder-item-button">{{file}}</button>
            </md-list-item>
        </md-list>
        <div>
            <md-form-field class="full-width">
                <input mdInput [(ngModel)]="selectedFile" placeholder="Selected file" />
            </md-form-field>
        </div>
    </md-card>
</div>