<div *ngIf="showImage">
    <img [src]="applicationProfileFile.image ? applicationProfileFile.image : 'data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACwAAAAAAQABAAACAkQBADs='"
        [alt]="applicationProfileFile.imageFileName" />
</div>
<div>
    <button (click)="removeSelected.next()" mat-button color="warn">Remove</button>
    <mat-form-field>
        <input matInput (keydown)="allowReadOnlyKeys($event)" (cut)="$event.preventDefault()" (paste)="$event.preventDefault()" [value]="applicationProfileFile.applicationGroupName"
            placeholder="Application group" />
    </mat-form-field>
    <mat-form-field>
        <input matInput (keydown)="allowReadOnlyKeys($event)" (cut)="$event.preventDefault()" (paste)="$event.preventDefault()" [value]="applicationProfileFile.filePath"
            placeholder="Full path" />
    </mat-form-field>
</div>