<mat-card>
    <mat-form-field>
        <input matInput [(ngModel)]="clientDeviceDisplay.clientDevice.name" placeholder="Name" />
    </mat-form-field>
    <mat-form-field>
        <input matInput value="{{clientDeviceDisplay.clientDevice.address}}" placeholder="Address" />
    </mat-form-field>
    <mat-form-field>
        <input matInput [(ngModel)]="clientDeviceDisplay.clientDevice.description" placeholder="Description" />
    </mat-form-field>
    <mat-form-field>
        <mat-select [(ngModel)]="clientDeviceDisplay.selectedGroup" placeholder="Device group">
            <mat-option *ngFor="let deviceGroup of clientDeviceDisplay.groups" [value]="deviceGroup">{{deviceGroup.name}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <input matInput value="{{clientDeviceDisplay.clientDevice.id}}" readonly placeholder="Identifier" />
    </mat-form-field>
    <mat-checkbox class="client-device-approved-check" matInput [(ngModel)]="clientDeviceDisplay.clientDevice.approved">Approved</mat-checkbox>
    <mat-card-actions>
        <button [disabled]="clientDeviceDisplay.updating" class="client-device-button" mat-raised-button color="primary" (click)="update.next()">Update</button>
    </mat-card-actions>
</mat-card>