<mat-sidenav-container>
  <mat-sidenav mode="side" opened="true" [ngClass]="{'sidenav-collapsed': sidenavCollapsed}">
    <mat-nav-list>
      <a mat-list-item title="Client devices status" routerLink="client-devices-status" routerLinkActive="active-nav-item" class="inactive-nav-item">
        <mat-icon mat-list-icon>desktop_windows</mat-icon>
      </a>
      <a mat-list-item title="Reports" routerLink="reports" routerLinkActive="active-nav-item" class="inactive-nav-item">
        <mat-icon mat-list-icon>timeline</mat-icon>
      </a>
      <a mat-list-item title="Settings" routerLink="settings" routerLinkActive="active-nav-item" class="inactive-nav-item">
        <mat-icon mat-list-icon>settings</mat-icon>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <div class="primary-content">
    <div *ngIf="!isLoggedIn">
      <mat-card>
        <mat-card-title>
          You need to log in
        </mat-card-title>
        <mat-card-content>
          <mat-form-field>
            <input matInput #username placeholder="Username" value="">
          </mat-form-field>
          <mat-form-field>
            <input matInput #password type="password" placeholder="Password" value="">
          </mat-form-field>
          <button (click)="logInEmployee(username.value, password.value)" mat-raised-button color="primary">Log in</button>
        </mat-card-content>
      </mat-card>
    </div>
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>