<md-sidenav-container>
  <md-sidenav mode="side" opened="true" [ngClass]="{'sidenav-collapsed': sidenavCollapsed}">
    <md-nav-list>
      <md-list-item title="Client devices status" routerLinkActive="active-nav-item" class="inactive-nav-item">
        <a routerLink="client-devices-status">
          <md-icon md-list-icon>desktop_windows</md-icon>
          <h4 md-line *ngIf="!sidenavCollapsed">Client devices status</h4>
        </a>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item title="Reports" routerLinkActive="active-nav-item" class="inactive-nav-item">
        <a routerLink="reports">
          <md-icon md-list-icon>timeline</md-icon>
          <h4 md-line *ngIf="!sidenavCollapsed">Reports</h4>
        </a>
      </md-list-item>
      <md-list-item title="Settings" routerLinkActive="active-nav-item" class="inactive-nav-item">
        <a routerLink="settings">
          <md-icon md-list-icon>settings</md-icon>
          <h4 md-line *ngIf="!sidenavCollapsed">Settings</h4>
        </a>
      </md-list-item>
      <md-divider></md-divider>
    </md-nav-list>
  </md-sidenav>

  <div class="primary-content">
    <div *ngIf="!isLoggedIn">
      <md-card>
        <md-card-title>
          You need to log in
        </md-card-title>
        <md-card-content>
          <md-input-container>
            <input mdInput #username placeholder="Username" value="">
          </md-input-container>
          <md-input-container>
            <input mdInput #password type="password" placeholder="Password" value="">
          </md-input-container>
          <button (click)="logInEmployee(username.value, password.value)" md-raised-button color="primary">Log in</button>
        </md-card-content>
      </md-card>
    </div>
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>