<div class="settings-feature">
    <md-card>
        <md-card-title>Existing roles</md-card-title>
        <md-select *ngIf="rolesWithPermissions && permissions" class="roles-drop-down" [(ngModel)]="selectedRoleWithPermissions">
            <md-option *ngFor="let roleWithPermissions of rolesWithPermissions" [value]="roleWithPermissions">{{roleWithPermissions.role.name}}</md-option>
        </md-select>
        <div *ngIf="selectedRoleWithPermissions">
            <md-form-field>
                <input mdInput [(ngModel)]="selectedRoleWithPermissions.role.name" placeholder="Name" />
            </md-form-field>
            <md-form-field>
                <input mdInput [(ngModel)]="selectedRoleWithPermissions.role.description" placeholder="Description" />
            </md-form-field>
            <md-card>
                <md-card-subtitle>Permissions</md-card-subtitle>
                <md-list>
                    <md-list-item *ngFor="let permission of selectedRoleWithPermissions.permissions">
                        <md-checkbox [(ngModel)]="permission.selected">
                            {{permission.name}} : {{permission.description}}
                        </md-checkbox>
                    </md-list-item>
                </md-list>
            </md-card>
            <md-card-actions>
                <spotcafe-messages #updateRoleMessagesComponent></spotcafe-messages>
                <button md-raised-button (click)="updateRoleWithPermissions(selectedRoleWithPermissions)" color="primary">Update role {{selectedRoleWithPermissions.role.name}}</button>
            </md-card-actions>
        </div>
    </md-card>
    <!-- <md-card>
        <md-card-title>New role</md-card-title>
        <md-form-field>
            <input mdInput [(ngModel)]="newEmployeeWithRoles.employee.username" maxlength="250" placeholder="User name" />
            <md-error>User name is required</md-error>
        </md-form-field>
        <md-form-field>
            <input mdInput [(ngModel)]="newEmployeeWithRoles.employee.firstName" placeholder="First name" />
        </md-form-field>
        <md-form-field>
            <input mdInput [(ngModel)]="newEmployeeWithRoles.employee.lastName" placeholder="Last name" />
        </md-form-field>
        <md-form-field>
            <input mdInput [(ngModel)]="newEmployeeWithRoles.employee.email" placeholder="Email" />
        </md-form-field>
        <md-form-field>
            <input mdInput [(ngModel)]="newEmployeeWithRoles.employee.password" type="password" placeholder="Password" />
        </md-form-field>
        <md-form-field>
            <input mdInput [(ngModel)]="newEmployeeWithRoles.confirmPassword" type="password" placeholder="Confirm password" />
        </md-form-field>
        <md-checkbox [(ngModel)]="newEmployeeWithRoles.employee.disabled">Disabled</md-checkbox>
        <md-card>
            <md-card-subtitle>Roles</md-card-subtitle>
            <md-list>
                <md-list-item *ngFor="let role of newEmployeeWithRoles.roles">
                    <md-checkbox [(ngModel)]="role.selected">
                        {{role.name}} : {{role.description}}
                    </md-checkbox>
                </md-list-item>
            </md-list>
        </md-card>
        <md-card-actions>
            <spotcafe-messages *ngIf="newEmployeeErrors.usernameNotSupplied" [staticMessage]="{text:
                    'User name can not be empty', type: 'error'}"></spotcafe-messages>
            <spotcafe-messages *ngIf="newEmployeeErrors.passwordsDontMatch" [staticMessage]="{text:
                    'Passwords do not match', type: 'error'}"></spotcafe-messages>
            <spotcafe-messages *ngIf="newEmployeeErrors.passwordTooShort" [staticMessage]="{text:
                        'Password must be at least 6 characters', type: 'error'}"></spotcafe-messages>
            <spotcafe-messages #newEmployeeMessagesComponent></spotcafe-messages>
            <button md-raised-button (click)="createEmployeeWithRoles(newEmployeeWithRoles)" color="primary">Create {{newEmployeeWithRoles.employee.username}}</button>
        </md-card-actions>
    </md-card> -->
</div>