<div class="settings-feature card-container">
    <mat-card>
        <mat-card-title>Existing roles</mat-card-title>
        <mat-form-field>
            <mat-select [(ngModel)]="selectedRoleWithPermissions" placeholder="Role">
                <mat-option *ngFor="let roleWithPermissions of rolesWithPermissions" [value]="roleWithPermissions">{{roleWithPermissions.role.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <div *ngIf="selectedRoleWithPermissions">
            <mat-form-field>
                <input matInput [(ngModel)]="selectedRoleWithPermissions?.role.name" placeholder="Name" />
            </mat-form-field>
            <mat-form-field>
                <input matInput [(ngModel)]="selectedRoleWithPermissions?.role.description" placeholder="Description" />
            </mat-form-field>
            <mat-card>
                <mat-card-subtitle>Permissions</mat-card-subtitle>
                <mat-list>
                    <mat-list-item *ngFor="let permission of selectedRoleWithPermissions?.permissions">
                        <mat-checkbox [(ngModel)]="permission.selected">
                            {{permission.name}} : {{permission.description}}
                        </mat-checkbox>
                    </mat-list-item>
                </mat-list>
            </mat-card>
            <mat-card-actions>
                <spotcafe-messages *ngIf="existingRoleErrors.nameIsEmpty" [staticMessage]="{text: 'Name can not be empty', type: 'error'}"></spotcafe-messages>
                <spotcafe-messages #updateRoleMessagesComponent></spotcafe-messages>
                <button mat-raised-button (click)="updateRoleWithPermissions(selectedRoleWithPermissions)" color="primary">Update role {{selectedRoleWithPermissions?.role.name}}</button>
            </mat-card-actions>
        </div>
    </mat-card>
    <mat-card>
        <mat-card-title>New role</mat-card-title>
        <mat-form-field>
            <input matInput [(ngModel)]="newRoleWithPermissions.role.name" maxlength="250" placeholder="Name" />
            <mat-error>Name is required</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput [(ngModel)]="newRoleWithPermissions.role.description" placeholder="Description" />
        </mat-form-field>
        <mat-card>
            <mat-card-subtitle>Permissions</mat-card-subtitle>
            <mat-list>
                <mat-list-item *ngFor="let permission of newRoleWithPermissions.permissions">
                    <mat-checkbox [(ngModel)]="permission.selected">
                        {{permission.name}} : {{permission.description}}
                    </mat-checkbox>
                </mat-list-item>
            </mat-list>
        </mat-card>
        <mat-card-actions>
            <spotcafe-messages *ngIf="newRoleErrors.nameIsEmpty" [staticMessage]="{text: 'Name can not be empty', type: 'error'}"></spotcafe-messages>
            <spotcafe-messages #newRoleMessagesComponent></spotcafe-messages>
            <button mat-raised-button (click)="createRoleWithPermissions(newRoleWithPermissions)" color="primary">Create role {{newRoleWithPermissions.role.name}}</button>
        </mat-card-actions>
    </mat-card>
</div>