<div class="settings-feature card-container">
    <mat-card>
        <mat-card-title>Existing employees</mat-card-title>
        <spotcafe-messages #loadEmployeesMessagesComponent></spotcafe-messages>
        <mat-form-field>
            <mat-select [(ngModel)]="selectedEmployeeWithRoles" placeholder="Employee">
                <mat-option *ngFor="let employeeWithRole of employeesWithRoles" [value]="employeeWithRole">{{employeeWithRole.employee.username}} ({{employeeWithRole.employee.firstName}} {{employeeWithRole.employee.lastName}})</mat-option>
            </mat-select>
        </mat-form-field>
        <div *ngIf="selectedEmployeeWithRoles">
            <mat-form-field>
                <input matInput [(ngModel)]="selectedEmployeeWithRoles?.employee.firstName" placeholder="First name" />
            </mat-form-field>
            <mat-form-field>
                <input matInput [(ngModel)]="selectedEmployeeWithRoles?.employee.lastName" placeholder="Last name" />
            </mat-form-field>
            <mat-form-field>
                <input matInput [(ngModel)]="selectedEmployeeWithRoles?.employee.email" placeholder="Email" />
            </mat-form-field>
            <mat-checkbox [(ngModel)]="selectedEmployeeWithRoles?.employee.disabled">Disabled</mat-checkbox>
            <mat-card>
                <mat-card-subtitle>Roles</mat-card-subtitle>
                <mat-list>
                    <mat-list-item *ngFor="let role of selectedEmployeeWithRoles?.roles">
                        <mat-checkbox [(ngModel)]="role.selected">
                            {{role.name}} : {{role.description}}
                        </mat-checkbox>
                    </mat-list-item>
                </mat-list>
            </mat-card>
            <mat-card-actions>
                <spotcafe-messages #updateEmployeeMessagesComponent></spotcafe-messages>
                <button mat-raised-button (click)="updateEmployeeWithRoles(selectedEmployeeWithRoles)" color="primary">Update employee {{selectedEmployeeWithRoles?.employee.username}}</button>
            </mat-card-actions>
        </div>
    </mat-card>
    <mat-card>
        <mat-card-title>New employee</mat-card-title>
        <mat-form-field>
            <input matInput [(ngModel)]="newEmployeeWithRoles.employee.username" maxlength="250" placeholder="User name" />
            <mat-error>User name is required</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput [(ngModel)]="newEmployeeWithRoles.employee.password" type="password" placeholder="Password" />
        </mat-form-field>
        <mat-form-field>
            <input matInput [(ngModel)]="newEmployeeWithRoles.confirmPassword" type="password" placeholder="Confirm password" />
        </mat-form-field>
        <mat-form-field>
            <input matInput [(ngModel)]="newEmployeeWithRoles.employee.firstName" placeholder="First name" />
        </mat-form-field>
        <mat-form-field>
            <input matInput [(ngModel)]="newEmployeeWithRoles.employee.lastName" placeholder="Last name" />
        </mat-form-field>
        <mat-form-field>
            <input matInput [(ngModel)]="newEmployeeWithRoles.employee.email" placeholder="Email" />
        </mat-form-field>
        <mat-checkbox [(ngModel)]="newEmployeeWithRoles.employee.disabled">Disabled</mat-checkbox>
        <mat-card>
            <mat-card-subtitle>Roles</mat-card-subtitle>
            <mat-list>
                <mat-list-item *ngFor="let role of newEmployeeWithRoles.roles">
                    <mat-checkbox [(ngModel)]="role.selected">
                        {{role.name}} : {{role.description}}
                    </mat-checkbox>
                </mat-list-item>
            </mat-list>
        </mat-card>
        <mat-card-actions>
            <spotcafe-messages *ngIf="newEmployeeErrors.usernameNotSupplied" [staticMessage]="{text: 'User name can not be empty', type: 'error'}"></spotcafe-messages>
            <spotcafe-messages *ngIf="newEmployeeErrors.passwordsDontMatch" [staticMessage]="{text: 'Passwords do not match', type: 'error'}"></spotcafe-messages>
            <spotcafe-messages *ngIf="newEmployeeErrors.passwordTooShort" [staticMessage]="{text: 'Password must be at least 6 characters', type: 'error'}"></spotcafe-messages>
            <spotcafe-messages #newEmployeeMessagesComponent></spotcafe-messages>
            <button mat-raised-button (click)="createEmployeeWithRoles(newEmployeeWithRoles)" color="primary">Create employee {{newEmployeeWithRoles.employee.username}}</button>
        </mat-card-actions>
    </mat-card>
</div>