/* You can add global styles to this file, and also import other style files */
html, body, app-root, mat-sidenav-container, .primary-content {
    margin: 0;
    width: 100%;
    height: 100%;
}

/* overflow:auto fixes Safari vertical scrolling problem if content is taller than the available screen height */
.primary-content {
    overflow: auto;
}

.mat-sidenav.sidenav-collapsed {
    /* Angular material design sets min-width: 5vw; which in desktop Firefox and Edge could be 96px and overrides this setting */
    /* In these browsers, collapsed width is visually larger - the problem doesn't exists in Chrome, Edge Mobile and Safari mobile */
    /* That's why we need to use more specific selector and override min-width also */
    min-width: 64px;
    width: 64px;
}

.inactive-nav-item {
    border-right: 4px solid transparent;
}

.active-nav-item {
    border-right: 4px solid lightseagreen;
}

.active-nav-item mat-icon {
    color: lightseagreen;    
}

.active-settings-nav-item {
    border-bottom: 2px solid lightseagreen; 
}

.settings-feature {
    margin-top: 6px;
}

.card-container mat-card {
    margin-top: 4px;
    margin-left: 6px;
    margin-right: 6px;
}

.client-devices-table tr {
    height: 3em;
}

.client-devices-table tr th {
    text-align: start;
}

.client-devices-table tr td {
    padding-right: 3em;
}

.device-status-card {
    margin-top: 4px;
}

.device-status-card .device-status-name {
    width: 9em;
    display: inline-block;
    word-break: break-all;
}

.device-status-card .device-status-bill {
    width: 7rem;
    display: inline-block;
    word-break: break-all;
    text-align: end;
}

.device-status-card .device-status-duration {
    font-size: 70%;
    width: 5rem;
    display: inline-block;
    word-break: break-all;
    text-align: end;
}

.client-device-in-use {
    background-color: rgba(0,255,255,0.1);
}

.client-device-free {
    background-color: white;
}

.device-status-start-button {
    background-color: rgba(0,255,0,0.2);
}

button.client-device-button {
    margin-right: 1em;
}

.client-device-approved-check {
    margin-right: 1em;
}